.btn {
    cursor: pointer;
}

.background-gray {
    background-color: #D4D4D4;
}

.gray-text {
    color: #595959;
    font-size: 24px;
}

.white-text {
    color: white;
    font-size: 24px;
}

.green-btn {
    background-color: #30A663;
}

.mediumPadding {
    padding: 10px;
}