.myRecipes {
    margin-top: 100px;
    padding-bottom: 50px;
}

.myRecipes__createRecipe {
    background: rgba(217, 217, 217, 0.50);
    border-radius: 10px;
    height: 200px;
    width: 100%;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
    cursor: pointer;
}

.myRecipes__plusIcon {
    width: 155px;
    height: 155px;
    background-color: transparent;
    position: absolute;
    left: 22px;
    top: 22px;
}

.myRecipes__plusIcon::before,
.myRecipes__plusIcon::after {
    content: "";
    position: absolute;
    background-color: #636363CC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myRecipes__plusIcon::before {
    width: 155px;
    height: 3px;
}

.myRecipes__plusIcon::after {
    width: 3px;
    height: 155px;
}