.navigationNav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navigationUl {
    display: flex;
}

.navigationUl li {
    padding-left: 40px;
}

.navigationUl li a,
.navigationUserName a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 400;
    transition: font-weight 0.3s;
}

.activePage {
    font-weight: 900;
}