.search__block form {
    display: flex;
    align-items: center;
}

.search__block input {
    font-size: 24px;
    width: 460px;
    box-sizing: border-box;
    color: #595959;
    background-color: white;
    padding: 10px 0px 10px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.search__button {
    cursor: pointer;
    color: white;
    margin: -5px;
    height: 48px;
    padding: 0 10px;
    border-radius: 0 5px 5px 0;
}