.openRecipe {
    background-color: rgb(255, 255, 255, 0.2);
    min-height: 100vh;
    height: auto;
    font-size: 24px;
    line-height: 140%;
    padding-bottom: 20px;
}


.recipeView__img {
    width: 40%;
    float: left;
    max-height: 40%;
    height: 40%;
    flex-shrink: 0;
}

.recipeView__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.recipeView__text-body {
    padding: 20px 20px;
    text-align: center;
    width: 60%;
    float: right;
}

.recipeView__title {
    font-size: 36px;
    text-align: left;
    padding-bottom: 20px;
}

.recipeView__ingredients {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}


.recipeView__ingredients ul,
.recipeView__instructions ul,
.recipeView__advices ul {
    padding: 10px 0;
}

.recipeView__ingredients ul li,
.recipeView__advices ul li {
    list-style-type: disc;
}

.recipeView__instructions ul li {
    list-style-type: decimal;
}

.recipeView__text-body_fullWidth {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.recipeView__instructions {
    text-align: center;
}

.recipeView__back {
    position: relative;
    font-size: 50px;
    padding-left: 60px;
    margin: 80px 0 30px 60px;
    cursor: pointer;
}

.recipeView__rowBack {
    position: absolute;
    left: 0;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 50px solid rgb(255, 255, 255);
}